.ColorSelector
    cursor pointer
    .ColorBox
        height 15px
        display inline-block
        vertical-align middle
        width 15px
        margin 0 0 0 7px
        border 1px solid silver
        border-radius: 50%
        &.Selected
            border-color #999