button,
input,
textarea {
  outline: none !important;
}
.link {
  cursor: pointer;
}
.col-md-6.has-feedback .form-control-feedback {
  right: 15px;
}
.tab-pane {
  margin: 25px 5px 0 5px;
}
.DarkOverlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  overflow: hidden;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.ChessBoard {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAL0lEQVQ4T2N89uzZfwY8QFJSEp80A+OoAcMiDP4DAb6Ifv78Of50MGoAA+PQDwMAuX5VedFT3cEAAAAASUVORK5CYII=");
}
.visibility-hidden {
  visibility: hidden;
}
div.tooltip-inner {
  max-width: none;
  white-space: nowrap;
}
.breadcrumb li:first-child {
  padding-bottom: 10px;
}
.breadcrumb {
  padding-left: 0;
}
.breadcrumb li:first-child {
  padding-left: 0;
}
.breadcrumb li:first-child a {
  margin-left: 0;
}
.pointer-cursor {
  cursor: pointer;
}
.op-0 {
  opacity: 0;
}
.op-0.visible {
  opacity: 1;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
@media (min-width: 992px) {
  .col-n-p-l {
    padding-left: 0;
  }
  .col-n-p-r {
    padding-right: 0;
  }
}
body {
  overflow-y: scroll;
}
html,
body,
#Application,
.Application {
  height: 100%;
}
.Loading {
  color: #eee;
  text-align: center;
  font-size: 55px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.Loading i {
  vertical-align: middle;
  display: inline-block;
  font-size: 0.75em;
  margin: auto;
  color: #1f3853;
  margin-right: 3px;
}
.Loading:before {
  vertical-align: middle;
  content: "";
  height: 100%;
  display: inline-block;
}
.breadcrumb {
  opacity: 1;
}
.breadcrumb li:first-child {
  text-transform: uppercase;
}
.breadcrumb.visible {
  opacity: 1;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
textarea.Note {
  min-height: 250px;
}
.form-group.required .control-label:after {
  content: " *";
  color: #a94442;
}
.navbar .nav > li > .dropdown-menu.pull-left {
  left: -7px;
}
.navbar .nav > li > .dropdown-menu.pull-left::before {
  right: auto;
  left: 9px;
}
.navbar .nav > li > .dropdown-menu.pull-left::after {
  right: auto;
  left: 10px;
}
.CheckItem i {
  color: #2a2e36;
  margin-right: 3px;
  opacity: 0.75 !important;
  position: relative;
  left: -9px;
  top: 0 !important;
  font-weight: normal !important;
}
.InputRange-slider {
  background: #365d98 !important;
  border-color: #365d98 !important;
}
.InputRange-track {
  background: #0aa699 !important;
}
.InputRange-track--active {
  background: #365d98 !important;
}
.InputRange-label {
  color: #555;
  display: none;
}
.nav-tabs {
  background: transparent;
  border: 0;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.04);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.04);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.04);
}
.uneditable-input.focus,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.m-uneditable-input:focus,
.has-success .form-control:focus {
  background-color: #fff;
  border-color: #66afe9;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control,
.form-control[disabled]:focus,
.form-control[readonly]:focus,
fieldset[disabled] .form-control:focus {
  background-color: #eee;
}
.has-success .form-control {
  border-color: #0aa699;
}
.has-success .form-control-feedback {
  color: #0aa699;
}
.has-success .input-group-addon {
  color: #0aa699;
  border-color: #0aa699;
  background-color: #d7f3f0;
}
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label {
  color: inherit;
}
.has-error label,
.has-danger label {
  color: #f35958 !important;
}
.has-error .input-group-addon,
.has-danger .input-group-addon {
  border-color: #f35958;
}
.has-error .input-group-addon {
  color: #e76e70;
  background: #fff6f4;
}
.help-block.with-errors {
  color: #f35958;
  font-size: 11px;
  margin-top: 3px;
}
.help-block.with-errors div {
  display: inline;
  text-transform: lowercase;
}
.Guest .help-block.with-errors {
  margin-top: 0;
}
.Guest .help-block.with-errors div {
  padding: 0;
  position: relative;
  top: -5px;
}
