.NodeTreeView small
    color #aaa
    margin-left 7px
    font-size 0.8em

.NodeTreeView nav.Commands
    margin-left 10px
    background rgba(57, 132, 217, 0.9)
    border 1px solid #2876d0
    position relative
    top 1px
    display inline-block !important
    opacity 0
    transition opacity 0.3s ease-out

.NodeTreeView nav.Commands:after
    content ''
    position absolute
    width 0
    height 0
    border-color transparent
    border-style solid
    bottom 0
    top 0
    margin auto
    left -5px
    border-width 5px 5px 5px 0
    border-color transparent rgba(57, 132, 217, 0.9) transparent transparent

.NodeTreeView nav.Commands > a
    padding 3px 4px
    font-size 1.1em

.NodeTreeView nav.Commands > a i, .NodeTreeView nav.Commands > a .fa-stack
    color #fff !important
    margin 0 !important

.NodeTreeView nav.Commands > a:hover
    background #1e599d

.NodeTreeView .Selected > .Item > nav.Commands,
.NodeTreeView .Selected > .Item > span > nav.Commands
    opacity 1
    transition opacity 0.3s ease-in

.NodeTreeView
    .Root
        margin-left -17px
        & > li
            & > .Item
                padding-left 17px