.TreeView
    font-size 1.1em
    &.form-control
        height auto
    .panel-body
        background #F8FAFD
        & > ul
            position relative
            top -5px
    ul
        & > li
            margin-left 15px
        li
            list-style none
            &.Root
                & > ul
                    margin-left -18px
            ul
                position relative
                &:before
                    width 1px
                    position absolute
                    left 23px
                    top -12px
                    bottom 16px
                    border-left 1px dotted #ccc
                    content ''
            .Item
                white-space nowrap
                margin 12px 0
                text-rendering auto
                -webkit-font-smoothing antialiased
                cursor pointer
                & > div
                    display inline-block
                i
                    display inline-block
                    font-size: 15px !important;
                    font-size inherit
                    color #3983d9
                    margin-right 4px
                    &.fa-folder
                        font-size: 16px !important;
                        position relative
                        top 2px
                .opening-node
                    margin-left 7px
                    font-size 10px
                    color #222
                    margin-left 2px
                .TreeNodeIcon
                    line-height 16px
                    margin-right 2px
                    width 16px
                    height 16px
                    display inline-block
                    vertical-align middle
                    border 0 none
                    outline none
                    background-color transparent
                    background-repeat no-repeat
                    background-attachment scroll
                    background-image url(/img/tree.png) !important
                .PosFirst, .PosNormal
                    background-position -56px -18px
                .PosLast
                    background-position -56px -36px
                .FolderIcon
                    background-position -93px -56px
                    position relative
                    z-index 1


                .Content
                    &:hover
                        background #eee
            .Closed
                & > .Item
                    & > .FolderIcon
                        background-position -75px -56px !important
                ul
                    display none
            .Selected
                & > div
                    & > div
                        & > .Content
                            background #d9edfb !important

.TreeView ul, .TreeView li
    margin 0
    padding 0

.TreeView ul li .Item .Content,
.TreeView ul li .Item nav
    display inline-block
    font-size 0.85em
    padding 0 2px